{% extends "base_generic.html" %}

{% block content %}

    {% if form.errors %}
        <div class="alert alert-info" role="alert">
            Your username and password didn't match. Please try again.
        </div>
    {% endif %}

    <!-- Default form login -->
    <form method="post" class="text-center border border-light p-5 center_div" action="{% url 'login' %}">
        {% csrf_token %}

        <p class="h4 mb-4">Sign in</p>

        <!-- Email -->
        <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="email" name="username">

        <!-- Password -->
        <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="password"
               name="password">

        <!-- Sign in button -->
        <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>
    </form>

{% endblock %}


