<!DOCTYPE html>
<html lang="en">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
    .center_div {
        position: absolute;
        left: 50%;
        margin-left: -160px;
        top: 10%;
    }
</style>
<head>
    {% block title %}<title>Local Library</title>{% endblock %}
</head>
<body>
{% block content %}<!-- default content text (typically empty) -->{% endblock %}
</body>
</html>

