{% extends "base_generic.html" %}

{% block content %}

    {% if form.errors %}
        <div class="alert alert-info" role="alert">
            Sum is incorrect or greater than balance!
        </div>
    {% endif %}


    <form method="post" class="text-center border border-light p-5 center_div" action="{% url 'pay' %}">
        {% csrf_token %}


        <p class="h5 mb-4"> Email : {{ user.email }}</p>
        <p class="h5 mb-4"> User : {{ user.first_name }}</p>
        <p class="h5 mb-4"> Balance : {{ user.award }}</p>
        <p class="h5 mb-4"> Active requests : {{ user.active_payoffs_count }}</p>
        <!-- Email -->
        <label for="defaultLoginFormEmail">Sum:</label><input id="defaultLoginFormEmail" class="form-control mb-4"
                                                              placeholder="Sum" name="sum">

        <!-- Password -->
        <label for="defaultLoginFormPassword">Send to:</label><input id="defaultLoginFormPassword"
                                                                     class="form-control mb-4"
                                                                     placeholder="Account Number"
                                                                     name="account_number">

        <!-- Sign in button -->
        <button class="btn btn-info btn-block my-4" type="submit">Send Money</button>
        <a href="{% url 'logout' %}">Logout</a>
    </form>
{% endblock %}